<dom-module id="hello-item">
  <template>
    <style include="shared-styles"></style>
    <h2>{{titre}}</h2>
  </template>

  <script>
    (function () {
      class Hello extends Polymer.Element {
        static get is () { return 'hello-item' }

        static get properties () {
          return {
            titre: String
          }
        }

        connectedCallback () {
          super.connectedCallback();
        }
      }

      customElements.define(Hello.is, Hello);
    })()
  </script>
</dom-module>