<dom-module id="lodash-item">
  <template>
    <style include="shared-styles"></style>
    <h2>{{titre}}</h2>
  </template>

  <script>
    (() => {
      class Lodash extends Polymer.Element {
        static get is () { return 'lodash-item' }

        static get properties () {
          return {
            titre: String
          }
        }

        connectedCallback () {
          super.connectedCallback();
          // Lodash is accessible
          _.map([1, 2, 3], elt => console.log("lodash " + elt));
        }
      }

      customElements.define(Lodash.is, Lodash);
    })()
  </script>
</dom-module>