<link rel="import" href="../hello/hello.html" />
<dom-module id="nested-item">
  <template>
    <h1>{{title}}</h1>
    <hello-item titre="{{hello1}}"></hello-item>
    <hello-item titre="{{hello2}}"></hello-item>
  </template>

  <script>
    (function () {
      class Nested extends Polymer.Element {
        static get is () { return 'nested-item' }

        static get properties () {
          return {
            title: String,
            hello1: String,
            hello2: String
          }
        }

        connectedCallback () {
          super.connectedCallback();
        }
      }

      customElements.define(Nested.is, Nested);
    })();

  </script>
</dom-module>