<link rel="import" href="/hello/hello.html" />
<dom-module id="nested-item">
  <template>
    <style include="shared-styles"></style>
    <style include="font-awesome"></style>
    <style>
      :host {
        background: rgba(0,0,0,0.2);
        padding: 10px;
        text-align: center;
      }
      
      ::slotted(h1) {
        font-size: 3em;
      }
      
    </style>

    <slot name="icon"></slot>
    <slot name="title"></slot>
    <h1 class="green">{{title}} <i class="fa fa-github"></i></h1>
    <hello-item titre="{{hello1}}"></hello-item>
    <hello-item titre="{{hello2}}"></hello-item>    
    <slot name="icon"></slot>
    <slot name="title"></slot>
  </template>

  <script>
    (() => {
      class Nested extends Polymer.Element {
        static get is () { return 'nested-item' }

        static get properties () {
          return {
            title: String,
            hello1: String,
            hello2: String
          }
        }

        connectedCallback () {
          super.connectedCallback();
        }
      }

      customElements.define(Nested.is, Nested);
    })();

  </script>
</dom-module>